[submodule "gym-pybullet-drones"]
	path = gym-pybullet-drones
	url = https://github.com/utiasDSL/gym-pybullet-drones.git
	branch = main
[submodule "acmpc_public"]
	path = acmpc_public
	url = https://github.com/uzh-rpg/acmpc_public.git
	branch = main
[submodule "stable-baselines3-change"]
	path = stable-baselines3-change
	url = https://github.com/lw-seu/stable-baselines3-change.git
[submodule "stable-baselines3"]
    path = acmpc_public/stable-baselines3
    url = https://github.com/uzh-rpg/stable-baselines3-acmpc.git
[submodule "mpc.pytorch"]
    path = acmpc_public/mpc.pytorch
    url = https://github.com/locuslab/mpc.pytorch.git
